<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="top h3">
        <h3>Create Your own Chat</h3>
    </div>

    <form method="post" action="/chats">
        <input placeholder="From" name="from">
        <br />
        <br />
        <input placeholder="Send to" name="to">
        <br />
        <br />
        <textarea name="msg" placeholder="Write your message"></textarea>
        <br />
        <br />
        <button class="form_btn">Create Chat</button>
    </form>
</body>

</html>